certifi==2020.12.5
chardet==4.0.0
configparser==5.0.1
html5lib==1.1
idna==2.10
lxml==4.6.2
multitasking==0.0.9
numpy
pandas
praw==7.0.0
prawcore==1.5.0
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
six==1.15.0
tqdm==4.56.0
update-checker==0.18.0
urllib3==1.26.3
websocket-client==0.57.0
yfinance==0.1.55
flask==1.1.2
flask_cors==3.0.10
beautifulsoup4==4.9.3
